@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import "given-style.css";

html, body {
    background: black;
    color: #ffffff9f;
    font-family: 'Open Sans', sans-serif;
}

a {
    color: #53a9d9;
}

.markdown-body table {
    display: table;
    table-layout: auto;
}

.markdown-body table th, .markdown-body table td {
    background-color: #000000;
    border: 1px solid #ffffff5f;
}


/* Checkbutton styling. */

.checkbutton {
    background-color: #ffffff1f;
    border-width: 0;
    color: #ffffff9f;
    cursor: pointer;
    display: block;
    float: left;
    margin: 0 0.2em 0.2em 0;
    opacity: 85%;
    padding: 0.1em 0.4em;
    transition: 0.25s;
    user-select: none;
}

.checkbutton:hover {
    opacity: 100%;
    transition: 0.25s;
}

.checkbutton.checked {
    background-color: #017aa7;
    color: #ffffffdf;
    opacity: 100%;
    transition: 0.25s;
}

.checkbutton.checked:hover {
    opacity: 85%;
    transition: 0.25s;
}

.checkbutton input {
    display: none;
}
