@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import "normalize-8.0.1.min.css";

:root {
    /* https://material-theme.com/docs/reference/color-palette */
    /* Selected theme: Deep ocean */
    --background-color: #0f111a;
    --foreground-color: #8f93a2;
    --green-color: #c3e88d;
    --blue-color: #82aaff;
    --red-color: #f07a78;
    --white-color: #eeffff;

    --background-color-light: #353740;
    --foreground-color-light: #bfc3d3;
    --blue-color-light: #b6dbff;
    --blue-color-dark: #4d7bcb;
    --blue-color-darker: #00509a;

    --animation-duration: 200ms;
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html {
    background: var(--background-color);
}

body {
    color: var(--foreground-color);
    font-size: 16px;
    line-height: 1.5;
    margin: 32px auto;
    max-width: 978px;
    word-wrap: break-word;
}

a {
    color: var(--blue-color);
    text-decoration: none;
    transition: var(--animation-duration);
}

a:hover {
    color: var(--blue-color-light);
    transition: var(--animation-duration);
}

h1, h2, h3 {
    color: var(--blue-color);
}

h1, h2 {
    border-bottom: 1px solid #ffffff5f;
    padding-bottom: 0.2em;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    table-layout: auto;
    width: 100%;
}

table th, table td {
    border: 1px solid #ffffff5f;
    padding: 6px 12px;
}

li {
    padding-bottom: 0.2em;
}


/* Checkbutton styling. */

.checkbutton {
    background-color: var(--background-color-light);
    border-width: 0;
    color: var(--foreground-color-light);
    cursor: pointer;
    display: block;
    float: left;
    margin: -12px 0.2em 0.4em 0em;
    opacity: 90%;
    padding: 0.1em 0.6em;
    transition: var(--animation-duration);
    user-select: none;
}

.checkbutton:hover {
    opacity: 100%;
    transition: var(--animation-duration);
}

.checkbutton.checked {
    color: var(--white-color);
    background-color: var(--blue-color-dark);
    opacity: 100%;
    transition: var(--animation-duration);
}

.checkbutton.checked:hover {
    opacity: 90%;
    transition: var(--animation-duration);
}

.checkbutton input {
    display: none;
}
